/*<-- Button Section -->*/
.btn-primary {
  background-color: #3498db; /* Primary button background color */
  border-color: #3498db; /* Primary button border color */
  color: #fff; /* Primary button text color */
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #3aa7f0; /* Primary button hover and focus state background color */
  border-color: #0e2d42; /* Primary button hover and focus state border color */
  color: #fff; /* Primary button hover and focus state text color */
  transform: scale(1.1); /* Add a subtle scaling effect on hover */
}

.btn-success {
  background-color: #2ecc71; /* Success button background color */
  border-color: #2ecc71; /* Success button border color */
  color: #fff; /* Success button text color */
}
.btn-success:hover,
.btn-success:focus {
  background-color: #27ae60; /* Success button hover and focus state background color */
  border-color:#0e2d42; /* Success button hover and focus state border color */
  color: #fff; /* Success button hover and focus state text color */
  transform: scale(1.05); /* Add a subtle scaling effect on hover */
}

.btn-warning {
  background-color: #f39c12; /* Warning button background color */
  border-color: #f39c12; /* Warning button border color */
  color: #fff; /* Warning button text color */
  padding: 12px 24px; /* Adjust padding as needed */
  border-radius: 8px; /* Adjust border radius for a rounded look */
  transition: background-color 0.3s, border-color 0.3s, color 0.3s, transform 0.3s;
  margin: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}
.btn-warning:hover,
.btn-warning:focus {
  background-color: #d68910; /* Warning button hover and focus state background color */
  border-color: #0e2d42; /* Warning button hover and focus state border color */
  color: #fff; /* Warning button hover and focus state text color */
  transform: scale(1.05); /* Add a subtle scaling effect on hover */
}

.btn-danger {
  background-color: #e74c3c; /* Danger button background color */
  border-color: #0e2d42;/* Danger button border color */
  color: #fff; /* Danger button text color */
  padding: 12px 24px; /* Adjust padding as needed */
  border-radius: 8px; /* Adjust border radius for a rounded look */
  transition: background-color 0.3s, border-color 0.3s, color 0.3s, transform 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}
.btn-danger:hover,
.btn-danger:focus {
  background-color: #c0392b; /* Danger button hover and focus state background color */
  border-color: #0e2d42; /* Danger button hover and focus state border color */
  color: #fff; /* Danger button hover and focus state text color */
  transform: scale(1.05); /* Add a subtle scaling effect on hover */
}
